<% if page.current? %>
  <span class="px-3 py-2 bg-blue-600 text-white rounded-lg">
    <%= page %>
  </span>
<% else %>
  <%= link_to page, url,
    class: "px-3 py-2 bg-white text-gray-700 rounded-lg hover:bg-gray-100 hover:text-blue-600 transition-colors duration-200" %>
<% end %>